DATA ANALYSIS FOR EMPLOYEE DATASET

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel('./Employee+Sample+Data/EmployeeSampleData.xlsx')
print(df.columns)

Index(['EEID', 'Full Name', 'Job Title', 'Department', 'Business Unit',
       'Gender', 'Ethnicity', 'Age', 'Hire Date', 'Annual Salary', 'Bonus %',
       'Country', 'City', 'Exit Date'],
      dtype='object')

1. PRINT COUNT OF  EMPLOYEES

In [7]:
print(len(df['EEID'].unique()))

911

2. PRINT SENIOR MANAGER NAME OF EVERY DEPARTMENT

In [31]:
print(df.loc[df['Job Title'].isin(['Sr. Manger'])])

       EEID       Full Name   Job Title       Department  \
0    E02387     Emily Davis  Sr. Manger               IT
10   E00591    Savannah Ali  Sr. Manger  Human Resources
13   E04239    Everleigh Ng  Sr. Manger          Finance
17   E00884    Camila Silva  Sr. Manger        Marketing
20   E03680  Elias Alvarado  Sr. Manger               IT
..      ...             ...         ...              ...
950  E02888    Elijah Ramos  Sr. Manger               IT
956  E03168         Nora Le  Sr. Manger               IT
971  E03778         Luke Vu  Sr. Manger        Marketing
985  E00156   Madelyn Scott  Sr. Manger               IT
990  E01578    Anthony Hong  Sr. Manger               IT

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
10            Manufacturing  Female      Asian   36 2009-02-11         157333
13   Research & Development  Female      Asian   51 2021-06-10         146742
17      Speciality Products  Female     Latino   64 2003-12-01         154828
20            Manufacturing    Male     Latino   56 2012-01-09         146140
..                      ...     ...        ...  ...        ...            ...
950     Speciality Products    Male     Latino   33 2012-12-24         132544
956           Manufacturing  Female      Asian   53 1997-04-12         154388
971     Speciality Products    Male      Asian   52 2018-06-04         154884
985  Research & Development  Female  Caucasian   46 2002-01-09         148035
990  Research & Development    Male      Asian   37 2010-11-29         146961

     Bonus %        Country            City  Exit Date
0       0.15  United States         Seattle 2021-10-16
10      0.15  United States           Miami        NaT
13      0.10          China        Shanghai        NaT
17      0.13  United States         Seattle        NaT
20      0.10         Brazil          Manaus        NaT
..       ...            ...             ...        ...
950     0.10         Brazil  Rio de Janerio        NaT
956     0.10  United States         Seattle        NaT
971     0.10          China        Shanghai        NaT
985     0.14  United States         Phoenix        NaT
990     0.11  United States        Columbus        NaT

[110 rows x 14 columns]

3. PRINT FIRST NAME,JOB TITLE OF EMPLOYEES FROM EACH DEPARTMENT ANNUAL SALARY MORE THAN $50,000

In [46]:
print(df[['Full Name','Job Title']].loc[df['Annual Salary']>50000])

             Full Name                 Job Title
0          Emily Davis                Sr. Manger
1        Theodore Dinh       Technical Architect
2         Luna Sanders                  Director
3      Penelope Jordan  Computer Systems Manager
4            Austin Vo               Sr. Analyst
..                 ...                       ...
993  Audrey Richardson                  Director
995       Wesley Young               Sr. Analyst
997        Oliver Yang                  Director
998        Lily Nguyen               Sr. Analyst
999        Sofia Cheng            Vice President

[948 rows x 2 columns]

4. PRINT MAX SALARY FOR EACH JOB TITLE

In [48]:
print(df[['Full Name','Job Title','Annual Salary']].groupby('Job Title').max())

                                       Full Name  Annual Salary
Job Title
Account Representative              Xavier Zheng          73004
Analyst                          Valentina Davis          58703
Analyst II                                Zoe Do          74655
Automation Engineer             Stella Alexander         115854
Business Partner                    Zoey Jackson          59067
Cloud Infrastructure Architect      Sofia Parker          99774
Computer Systems Manager             Wyatt Rojas          99557
Controls Engineer                   Theodore Ngo         124827
Development Engineer            Theodore Marquez          99091
Director                           Zoe Rodriguez         199848
Engineering Manager             Wesley Dominguez         116878
Enterprise Architect                Sophia Huynh          99575
Field Engineer                    William Foster          97398
HRIS Analyst                    Sebastian Rogers          73854
IT Coordinator                     Miles Salazar          57446
IT Systems Architect               Silas Estrada          96567
Manager                                 Zoe Zhou         129708
Network Administrator             Madison Hunter          92321
Network Architect                     Zoe Romero          96566
Network Engineer                       Sophie Oh          97537
Operations Engineer                   Sofia Dinh         123588
Quality Engineer                     Vivian Thao          98581
Service Desk Analyst              Robert Alvarez          95963
Solutions Architect                  Violet Hall          97807
Sr. Account Representative            Vivian Chu          96719
Sr. Analyst                          Zoe Sanchez          99697
Sr. Business Partner                 Skylar Doan          95998
Sr. Manger                       Vivian Espinoza         159885
System AdministratorÂ                Wesley Adams          96548
Systems Analyst                   Scarlett Kumar          59888
Technical Architect                Theodore Dinh          99975
Test Engineer                     Samantha Adams          96757
Vice President                       Xavier Park         258498

5. PRINT DEPARTMENT WISE TOTAL EMPLOYEE COUNT IN DESCENDING ORDER

In [58]:

print(df[['EEID','Department']].groupby('Department').count().sort_values(by='EEID',ascending=False))

                 EEID
Department
IT                241
Engineering       158
Sales             140
Human Resources   125
Finance           120
Marketing         120
Accounting         96