In [21]:
import pandas as pd
import seaborn as sns
import datetime
import time

In [3]:
# Create a Dataframe
df = pd.read_excel('EmployeeSampleData.xlsx')
# print(df.head())

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT

1. DISPLAY ASIAN FEMALES WITH MORE THAN 100K SALARY

In [47]:

condition = (df['Gender']=='Female') & (df['Ethnicity']=='Asian') & (df['Annual Salary']>100000)
print(df[['Annual Salary','Gender','Ethnicity']].loc[condition])

     Annual Salary  Gender Ethnicity
10          157333  Female     Asian
13          146742  Female     Asian
15          249270  Female     Asian
52          125633  Female     Asian
54          178700  Female     Asian
..             ...     ...       ...
976         124827  Female     Asian
980         114893  Female     Asian
982         246589  Female     Asian
984         150666  Female     Asian
999         216195  Female     Asian

[97 rows x 3 columns]

2. EMPLOYEES WITH A MIDDLE NAME IN THE IT DEPARTMENT

In [53]:
df['Full Name Words'] = df['Full Name'].apply(lambda x:len(x.split()))
condition = df['Full Name Words']>2
print(df['Full Name'].loc[condition])

358    Santiago f Gonzalez
471      Santiago f Brooks
833        Santiago f Gray
857        Santiago f Moua
Name: Full Name, dtype: object

3. PRINT PEOPLE OUTSIDE US GETTING BONUS

In [56]:
condition = (df['Country']!= 'United States') & (df['Bonus %'] > 0)
print(df[['Full Name','Country','Bonus %']].loc[condition])

          Full Name Country  Bonus %
13     Everleigh Ng   China     0.10
19        Adam Dang   China     0.18
20   Elias Alvarado  Brazil     0.10
22     Logan Rivera  Brazil     0.28
24        Mateo Her   China     0.31
..              ...     ...      ...
967        John Cho   China     0.21
971         Luke Vu   China     0.10
980    Hannah Hoang   China     0.06
983     Austin Vang   China     0.09
984       Maria Sun   China     0.23

[171 rows x 3 columns]

4. PRINT EMPLOYEES WITH 6 FIGURE SALARY AND NO BONUS

In [62]:
condition = (df['Annual Salary']>100000) & (df['Bonus %'] == 0)
print(df['Full Name'].loc[condition])

11        Camila Rogers
56     Stella Alexander
108       Andrew Thomas
215         Jose Molina
422        Andrew Moore
529     Kinsley Collins
627          Ian Barnes
732        Abigail Vang
773           Avery Sun
783          Henry Jung
805       Addison Perez
852       Grayson James
882       Clara Sanchez
915           Ivy Desai
976           Maya Chan
Name: Full Name, dtype: object

5. PRINT EMPLOYEE COUNT BY BUSINESS UNIT WITH 6 FIGURE SALARY AND AGE LESS THAN 30

In [75]:
condition = (df['Annual Salary']>100000)&(df['Age']<30)
print(df.loc[condition].groupby('Business Unit')['Annual Salary'].count().reset_index(name='Count'))

            Business Unit  Count
0               Corporate     18
1           Manufacturing     11
2  Research & Development     13
3     Speciality Products     17